{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    {% if product.pk %}
                        {% if request.user in product.liked_by.all %}
                            <a href="{% url 'products:remove_like' pk=product.pk %}" class="btn btn-warning">Unlike</a>
                        {% else %}
                            <a href="{% url 'products:add_like' pk=product.pk %}" class="btn btn-success">Like</a>
                        {% endif %}
                    {% else %}
                        <p>Error: Product ID is not available.</p>
                    {% endif %}
                    
                    <h1 class="card-title">{{ product.title }}</h1>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <h2 class="h5 text-muted">${{ product.product_price }}</h2>
                    <p class="card-text">{{ product.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{% url 'products:edit' pk=product.pk %}" class="btn btn-outline-primary">Edit</a>
                            <form action="{% url 'products:delete' pk=product.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
                            </form>
                        </div>
                        <a href="{% url 'products:products' %}" class="btn btn-sm btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
